*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Henny Penny', cursive;
    font-size: 1.2rem;
    text-align: center;
    color: #d2cbc3;
}

html{
    background: url("assets/title-screen-background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    height: 100vh;
    overflow: hidden;
}

button{
    background-color: #c04444;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.card {
    width: 200px;
    height: 300px;
}

.asset{
    width: 100px;
    height: 100px;
}

#title-screen{
    display: grid;
    grid-template-columns: repeat(20,5vw);
    grid-template-rows: repeat(20,5vh);
    align-content: stretch;
    justify-content:stretch;
    height: 100vh;
}

#full-screen{
    grid-column: 18 / 20;
    grid-row: 18 / 20;
}

#title-div{
    grid-column: 1 / 2;
    overflow: hide;
}

#deal-div{
    grid-column: 2/3;
    grid-row: 6/7;
}

#deal-button{
    height:120px;
    width: 240px;
    font-size: 40px;
}

#dealing-with{
    width: 40vw;
}

#the-devil{
    width: 30vw;
}

#money-div{
    grid-column: 14/16;
}

#bet-button{
    background-color:#c04444;
    border: none;
    border-radius: 5px;
    justify-self: stretch;
    padding-left: 100px;
    padding-right: 100px;
}

#bet-button:hover{
    cursor: pointer;
    background:#772929;
}

#bet-input{
    color: #c04444;
    background-color: #d2cbc3;
    border: none;
    border-radius: 5px;
    
}

#bet-div{
    display: grid;
    grid-column: 17/20;
}

#all-in-div{
    grid-column: 18/20;
    grid-row: 4/5;
}

#all-in-button{
    display: grid;
}

#assets-div{
    grid-row: 16/19;
    grid-column: 3/9;
    display: flex;
}

#in-game-screen{
    display: grid;
    grid-template-columns: repeat(20,5vw);
    grid-template-rows: repeat(20,5vh);
}

#dealer{
    grid-column: 1/21;
    grid-row: 2/5;
}

#player{
    grid-column: 1/21;
    grid-row: 9/13;
}

button:hover {
    cursor: pointer;
    background: #772929
    }

#hit-and-stand-div{
    grid-column: 10/12;
    grid-row: 17/18;
}

#double-down-div{
    grid-column: 10/12;
    grid-row: 19/20;
}

#loser-display{
    font-size: 80px;
    color: #c04444;
}

#winner-display{
    font-size: 80px;
    color: #0d8924;
}

#push-display{
    font-size: 80px;
}